body {
	font-family: Arial, Helvetica, sans-serif;
}
.banner{
	margin-top: 50px;
	width: 100%;
	height:120px;
	background-color:#e45a79;
}
.search{
	margin-left: 80%;

}
.banner-logo{
	width: 170px;
	height: 170px;
	margin-top:-145px;
	margin-left: 80px;
}
.side{
	height:700px;
	width:420px;
	background-color:#ffffff;
	margin-top:-27px;
	 -webkit-box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8);
}
.face{
	margin-top: 20px;
	margin-left: 30px;
	width:70px;
	height: 70px;
	border-radius: 35px;
}.home{
	margin-left: 50px;
	color: #e45a79;
}
.name{
	margin-left: 30px;
	font-family: Arial, Helvetica, sans-serif;
}
.portal{
	margin-left: 20px;
	margin-top: 50px;
}
strong{
		font-size: 30px;
	font-family: 'Agency FB';
}
a{
	color:black;
	text-decoration: none;

}
a:hover{
		color:#e45a79;
		text-decoration: none;
}
input[type="text"]{
	width:330px;
	height: 25px;
	border-radius: 8px;
}
.pbjam {
	color: black;
	position: absolute;
	left: 520px;
	top: 200px;
	font-family: Arial, Helvetica, sans-serif;
}
hr.new1 {
	border-top: 1px solid black;
	left: 500px;
	width: 580px;
	top: 260px;
	position: absolute;
  }
  textarea {
    width: 720px;
    height: 220px;
    background-color: white;
	border: 1px solid #e45a79;
	border-radius: 30px;
	left: 500px;
	top: 300px;
	font-size: 20px;
	position: absolute;
}
button{
	color: white;
	background-color: #e45a79;
	border: 1px solid #e45a79;
	border-radius: 10px;
	position: absolute;
	left: 1100px;
	top: 480px;
	font-size: 15px;
	width: 80px;
}
